<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--<setting id="advert" type="bool" label="Show Advert" default="true" />-->
  <setting id="hq" type="bool" label="Higher Quality (700K) Stream" default="true" />
  <setting id="folders" type="bool" label="Override TV3 Folder Hierarchy" default="true" />
</settings>
